PORT=3000
NODE_ENV=development

# JWT (debe ser IDÉNTICO al de api-usuarios)
JWT_SECRET=cambiar_esta_clave_en_produccion

# URLs de los microservicios
# Local: http://localhost:300X   |   Prod: URLs públicas de cada servicio en Render
USUARIOS_URL=http://localhost:3001
CANCHAS_URL=http://localhost:3002
TURNOS_URL=http://localhost:3003
PAGOS_URL=http://localhost:3004
